
/*BODY*/
.link:hover{
    color: orangered;
}


/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}

.petsSelection{
    border-radius: 5px;
}
/*END HEADER*/

/*BODY*/
bannerText1
/*END BODY*/



/*FOOTER*/


/*END FOOTER*/