
/*BODY*/
.link:hover{
    color: orangered;
}
body
{
    margin: 0;
    padding: 0;
}

/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}

.petsSelection{
    border-radius: 5px;
}
/*END HEADER*/

/*BODY*/

/*BANNER*/
<div class="f-banner_image" style="background-image: url(&quot;https://www.la-spa.fr/app/assets-spa/uploads/2022/11/SPA-FA22-fond-DESKTOP.png&quot;);"></div>

/*END BANNER*/

/*END BODY*/



/*FOOTER*/


/*END FOOTER*/