
/*BODY*/
.link:hover{
    color: orangered;

    body {
        background-image: url('image');
        background-repeat: no-repeat;
      }
}
/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}
/*END HEADER*/

/*BODY*/
.banniere{
    
}
/*END BODY*/



/*FOOTER*/


/*END FOOTER*/