
/*BODY*/
.link:hover{
    color: orangered;
}
body
{
    margin: 0;
    padding: 0;
}

/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}

.petsSelection{
    border-radius: 5px;
}
/*END HEADER*/

/*BODY*/

/*BANNER*/
background-image

/*END BANNER*/

/*END BODY*/



/*FOOTER*/


/*END FOOTER*/