
/*BODY*/
.link:hover{
    color: orangered;
}


/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}

.petsSelection{
    border-radius: 5px;
}
/*END HEADER*/

/*BODY*/

/*BANNER*/
.container{
    position: relative;
    max-width: 100vh;
    overflow-x: hidden;
    flex: 1 1;
}

.banner{
    position : absolute;
}

/*END BANNER*/

/*END BODY*/



/*FOOTER*/


/*END FOOTER*/