
/*BODY*/
.link:hover{
    color: orangered;
}


/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}

<select class="petsSelection" name="pets" id="pet-select">
.
/*END HEADER*/

/*BODY*/
.banner{
    
}
/*END BODY*/



/*FOOTER*/


/*END FOOTER*/