
/*BODY*/
.link:hover{
    color: orangered;
}

#banner{
    pos
    
}

/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}
/*END HEADER*/

/*BODY*/
.banniere{
    
}
/*END BODY*/



/*FOOTER*/


/*END FOOTER*/