
/*BODY*/
.link:hover{
    color: orangered;
}


/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}

.petsSelection{
    bor
}
/*END HEADER*/

/*BODY*/
.banner{
    
}
/*END BODY*/



/*FOOTER*/


/*END FOOTER*/