
/*BODY*/
.link:hover{
    color: orangered;
}


/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}

.petsSelection{
    border-radius: 5px;
}
/*END HEADER*/

/*BODY*/
.container {
    display: inline-block;
    position: relative;
}
.container .text {
    z-index: 1;
    position: absolute;
    text-align: left;
    font-family: Georgia;
    margin-left: 10px ;
    left: 0;
    right: 0;
    top: 40%;
    color: white;
    width: 70%;
}
/*END BODY*/



/*FOOTER*/


/*END FOOTER*/