
/*BODY*/
.link:hover{
    color: orangered;
}
/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}
/*END HEADER*/

/*BODY*/
.banniere{
    background-image: url("/images/");
}
/*END BODY*/



/*FOOTER*/


/*END FOOTER*/