
/*BODY*/
.link:hover{
    color: orangered;
}

#banner{
    height: 400px;
    width: 100%;
    background: url('images/banner.png') center;
    margin-top: 80px;
    background-size: cover;
    display: block;
}

/*END BODY*/

/*HEADER*/
.searchButton{
    background-color: orangered;
    color: white;
}
/*END HEADER*/

/*BODY*/
.banniere{
    
}
/*END BODY*/



/*FOOTER*/


/*END FOOTER*/